.center-header {
    text-align: center;
}
.center-link {
    display: block; /* จัดให้ลิงก์เป็นบล็อก (block element) เพื่อให้ text-align: center; ทำงานได้ */
    text-align: center;
}
h1 {
    font-size: 50px;
}
a {
    color: black;
    font-size: 16px;
}
.container {
    text-align: center;
    margin-top: 20px; /* เพิ่มระยะห่างจากด้านบนของหน้า */
}


.center-text {
	text-align: center;
	font-size: 20px;
}


.label {
	display: inline-block; /* ทำให้เป็นบล็อกแบบ inline เพื่อให้จัดอยู่ในแถวเดียวกันกับลิงก์ */
	text-align: center;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #933;
	font-weight: bold;
}
.center-link {
	display: inline-block;
	text-align: center;
	font-size: 20px;
}

.center-image-container {
    text-align: center; /* จัดให้เนื้อหาภายใน div นี้อยู่ตรงกลาง */
}
.center-image {
    display: inline-block;
    margin: 20px 0;
}
